:root {
  /* color system */
}
/* Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1d1d1d;
}
li {
  list-style: none;
}
html {
  font-size: 65.5%;
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
}
/* Custom styles */
.container {
  width: 90%;
  margin: auto;
}

.icon__size {
  color: green;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.b__s_5 {
  margin-bottom: 5rem;
}
.b__s_10 {
  margin-bottom: 10rem;
}
.b__s_15 {
  margin-bottom: 15rem;
}
.b__s_20 {
  margin-bottom: 20rem;
}
.hr_5 > hr {
  width: 5rem;
  margin: auto;
  border: none;
  border-bottom: 0.3rem solid red;
  margin-bottom: 0.7rem;
}
/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.2rem solid green;
  z-index: 50;
}

.nav__bar {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__bar > img {
  width: 100px;
  /* height: 100px; */
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
  flex: 1;
}
/* Mobile css */

.logo {
  text-align: center;
  padding: 0.4rem 0;
}
.logo img {
  width: 10rem;
}
/* banner */
.mobile__banner {
  width: 100%;
  height: 25rem;
  transition: transform 1s;
}
.mobile__banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* button section */
.button__container {
  background-color: #e2e2e2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button__container,
button {
  width: 90%;
  margin: auto;
  height: 2.5rem;
  border: none;
}
.vote {
  background-color: green;
  color: #fff;
}
.support {
  background-color: #51c3e8;
}
.register {
  background-color: red;
  color: #fff;
}

/* The Voices of Our Voters  */
.content__box {
  background-color: #cfcfcf8c;
  width: 85%;
  margin: 1rem auto;
  padding: 1rem;
}
.voice__header {
  margin-top: 3rem;
  text-align: center;
}
.voice__header > h1 {
  font-weight: 600;
}

.voice__header > p {
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
}

.image__and__name {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.voice__img > img {
  width: 5rem;
  border-radius: 10rem;
}
.title__box {
  flex: 1;
  margin-left: 0.4rem;
}

.title__box h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.title__box > span {
  font-size: 1.5rem;
  color: #6d6c6c;
  text-transform: uppercase;
}
.quote-righ {
  color: #f53131b7;
  font-size: 2.5rem;
  font-weight: normal;
}

.voice__content {
  width: 95%;
  margin: 1rem auto;
}
.voice__content p {
  font-size: 1.3rem;
  color: #383737;
  line-height: 1.2;
}

/* support */
.supporters {
  background-color: #51c3e8;
  margin: auto;
  width: 85%;
  padding: 1rem;
}
.total__box {
  color: #fff;
  text-align: center;
}
.big__title {
  padding: 1rem 0;
  font-size: 5rem;
}

.total__box > p {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.voter__location {
  background-color: blue;
  margin: 1rem auto;
  width: 85%;
  padding: 1rem;
  color: #fff;
}
.voter__location h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.voter__location label {
  font-size: 1.5rem;
}
.voter__location select,
button {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0;
}
.voter__location button {
  background-color: red;
  color: #fff;
  font-size: 1.5rem;
}

/* news section */
.news {
  position: relative;
  margin: 1rem auto;
  width: 90%;
  border: 0.2rem #dddddd solid;
  background-color: #f0f0f0;
}
.news__header {
  text-align: center;
}
.news__img {
  width: 100%;
  height: 20rem;
}
.news__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.date {
  position: absolute;
  top: 0;
  background-color: red;
  width: 30%;
  margin: auto;
  color: #fff;
  font-size: 2rem;
  padding: 0.4rem;
  text-transform: uppercase;
}
.news__title {
  font-weight: 600;
  color: #1d1d1d;
  margin: 0.6rem;
}
.news_desc {
  font-size: 1.4rem;
  margin: 0.6rem;
  color: #1d1d1d;
}
.read__more {
  text-align: center;
  font-size: 1.5rem;
}
.read__link {
  background-color: #e7e7e7;
  width: 30%;
  padding: 1.1rem;
  margin: auto;
  border: 0.2rem #6d6c6c solid;
}
/* bottom menu */
.bottom__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  border-top: 0.3rem solid green;
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
}
